# Dependencies
node_modules
npm-debug.log
package-lock.json

# Build output
dist
build

# Environment variables
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Documentation
*.md
docs

# Test
test
*.test.ts
*.spec.ts
coverage

# Misc
.DS_Store
*.log
